#activate-app-version {
	width: 100%;
	text-align: right;
	padding: 1em;
	font-size: 0.55em;
	box-sizing: border-box;
}

#activate-quadrant-5 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#activate-greeting-continue {
	width: 100%;
	position: absolute;
	margin-top: 1em;
}

#activate-chal-value {
	text-align: center !important;
	font-size: 1.5em;
}
