#activate-quadrant-5 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#activate-greeting-continue {
	width: 100%;
	position: absolute;
	margin-top: 1em;
}

#activate-chal-value {
	text-align: center !important;
	font-size: 1.5em;
}
