#cash-sections .shell-menu {
	width: 40%;
	left: 30%;
}

#cash-sections .shell-menu li {
	width: calc(100% / 2 - 5px);
}

#cash-sections .shell-menu li:first-child {
	width: calc(100% / 2);
}

#cash-sections .shell .username {
	display: inline-block;
	width: calc(100% - 31px);
	overflow: hidden;
	text-align: center;
	line-height: 16px;
}

#cash-main > div {
	text-align: center;
}

#cash-main-othershift img, #cash-main-noshift img {
	width: 48px;
	height: 48px;
	padding-right: 0.5em;
	vertical-align: bottom;
}

#cash-main-noshift button {
	display: block;
	margin: 1em auto 0 auto;
}

#cash-main-othershift span {
	font-style: italic;
}

input[name="shift-begin-amount"] {
	width: 8ex;
}
