#cash-sections .shell-menu {
	width: 60%;
	left: 20%;
}

#cash-sections .shell-menu li {
	width: calc(100% / 3 - 5px);
}

#cash-sections .shell-menu li:first-child {
	width: calc(100% / 3);
}

#cash-sections .shell .username {
	display: inline-block;
	width: calc(100% - 31px);
	overflow: hidden;
	text-align: center;
	line-height: 16px;
}
