.shift-report table {
	border-spacing: 0;
}

.shift-report th {
	padding: 0;
	white-space: nowrap;
}

.shift-report thead th {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.shift-report tbody td, .shift-report tfoot td, .shift-report tfoot td:last-child {
	position: relative;
	padding: 0;
	text-align: right;
}

.shift-report table .money {
	width: 9ex;
}

.shift-report tbody th, .shift-report tfoot th {
	padding-top: 0.5em;
	text-align: right;
}

.shift-report tbody th span:after {
	content: ':';
}

.shift-report tbody td.qty {
	text-align: center;
	width: 8em;
}

.shift-report table .money span {
	display: inline-block;
	width: 9ex;
	padding-left: 8px;
	padding-right: 8px;
}

.shift-report tbody tr:last-child > * {
	padding-bottom: 0.5em;
}

.shift-report tfoot tr:first-child > * {
	border-top: 1px solid black;
}

.shift-report tfoot td[colspan="6"] {
	padding-top: 1.5em;
	text-align: right;
}

.shift-report h4 {
	width: 95%;
	height: 3em;
	line-height: 4.5em;
	margin-bottom: 0;
	text-align: left;
	border-bottom: 1px solid lightgray;
}

.shift-report > table {
	
}

.shift-report > table td {
	text-align: left;
	vertical-align: bottom;
}

.shift-report > table th {
	padding-left: 2ex;
	padding-right: 1ex;
}

.shift-report > table th:first-child {
	padding-left: 0;
}


.shift-report button {
	margin-left: 1ex;
}

.shift-report button:first-child {
	margin-left: 0;
}
