#super-newuser .form-ver {
	height: 10em;
	align-items: flex-start;
	margin-left: 3em;
	width: 10em;
}

#super-newuser .form-ver > * {
	margin-top: 0.5em;
	width: 100%;
}

#super-newuser .form-ver > *:first-child {
	margin-top: 0;
}

#super-newuser .form-ver > div > * {
	width: 100%;
	box-sizing: border-box;
}

#super-newuser button[type="submit"] {
	margin-top: 1em;
}

#super-newuser li.ui-state-disabled {
	display: none;
}

#super-newuser .form-ver label.error {
	z-index: 100;
}

#super-report-summary-filter {
}

#super-report-summary-filter form > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

#super-report-summary-filter form > div > div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0.5em 1em;
}

#super-report-summary-filter form > div:last-child > div {
	flex-grow: 0;
}

#super-report-summary-filter h4 {
	margin-bottom: 0.5em;
	border-bottom: 1px solid black;
}

#super-report-summary-filter form > div > div > div {
	text-align: center;
}

#super-report-summary-filter .hm {
	width: 2.5em;
	display: inline-block;
	padding-right: 2.5em;
}

#super-report-summary-filter .hm > * {
	width: 100%;
}

#super-report-summary-filter .cal {
	position: absolute;
	top: 2em;
	z-index:1;
	display: none;
}

#super-report-summary-filter select[multiple="multiple"] {
	margin-top: 0.5em;
	font-size: inherit;
	height: 8em;
	border-radius: 10px;
}

#super-report-summary-filter button[type="submit"] {
	margin-top: 1em;
}
