#super-newuser .form-ver {
	height: 10em;
	align-items: flex-start;
	margin-left: 3em;
	width: 10em;
}

#super-newuser .form-ver > * {
	margin-top: 0.5em;
	width: 100%;
}

#super-newuser .form-ver > *:first-child {
	margin-top: 0;
}

#super-newuser .form-ver > div > * {
	width: 100%;
	box-sizing: border-box;
}

#super-newuser button[type="submit"] {
	margin-top: 1em;
}

#super-newuser li.ui-state-disabled {
	display: none;
}

#super-newuser .form-ver label.error {
	z-index: 100;
}

#super-report-summary {
	margin-bottom: 2em;
}

#super-report-summary th {
	text-align: right;
	padding-right: 0.5ex;
}

#super-report-summary td {
	white-space: nowrap;
}

#super-report-summary td.money {
	text-align: right;
	line-height: unset;
}

#super-report button {
	margin-left: 1ex;
}

#super-report button:first-child {
	margin-left: 0;
}
