.avanty .ui-widget {
	font-family: 'Roboto';
}

.avanty .ui-widget button {
	font-family: 'Roboto';
}

.avanty input.ui-widget {
	font-size: 1.5em;
	padding-left: 0.55em;
}

.avanty *:focus {
	outline: 5px dotted lightgray;
	outline-offset: 5px;
}

.avanty .ui-dialog {
	padding: 0;
}

.avanty .ui-dialog-titlebar {
	border-width: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;	
}

.avanty .ui-dialog .ui-dialog-buttonpane {
	margin-bottom: 8px;
}

.avanty .ui-dialog-content .icon {
    float: left;
    margin-bottom: 1em;
}

.avanty .ui-dialog-content .icon img {
    width: 64px;
    height: 64px;
}

.avanty .ui-dialog-content p {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0;
}

.avanty .ui-dialog-content .desc {
    margin-left: 88px; /* 64 of the icon + 24 equal to padding to the border. */
    margin-top: 0.75em;
}

.avanty .ui-dialog-content .msg {
    font-style: italic;
    clear: both;
    white-space: pre;
    overflow-x: auto;
}

.avanty .ui-dialog-content .msg.msg-mono {
/*    font-style: normal;
    font-family: monospace;*/
}

.avanty .ui-dialog-content .error-sev {
    clear: both;
}

.avanty .ui-button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.avanty .ui-datepicker-trigger {
    padding-left: 4px;
    vertical-align: top;
}
